// styles/components/AboutUs.scss

#aboutUs {
    background-image: url('../assets/backgroun3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    .gradient-text {
        @apply text-transparent bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.border-gradient-to-r {
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #a855f7, #ec4899, #ef4444);
}

.bg-clip-padding {
    background-clip: padding-box;
}